* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container>header {
  height: 64px;
  padding: 0 10px;
  background: #D43C33;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container>header>.name {
  display: flex;
}

.container>header>.name>img {
  width: 22.5px;
  height: 25px;
  margin-right: 10px;
}

.container>header>.name>h1 {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 25px;
  font-style: italic;
}

.container>header>.download {
  color: #FEFAF9;
  font-size: 15px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #ECA09B;
  border-radius: 15px;
}

.container>section {
  display: flex;
  height: 40px;
  border-bottom: 1px solid #E5E5E5;
}

.container>section>ul {
  width: 100%;
  display: flex;
}

.container>section>ul>li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container>section>ul>li .navWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.container>section>ul>li .navWrapper.active {
  color: #D43C33;
  border-bottom: 2px solid #D33931;
}

.container>ol {
  flex: 1;
  overflow: auto;
}
.container>ol .page1{
  padding: 20px 0;
}

.container>ol main{
  width: 100%;
}

main h2 {
  font-size: 17px;
  padding-left: 9px;
  border-left: 2px solid #D33931;
  margin-bottom: 14px;
  color: #333333;
  line-height: 20px;
}

main>.recommedSongList {
  padding-bottom: 24px;
}

main .recommedWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

main .recommedWrapper>.recommedSong {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

main .recommedWrapper>.recommedSong:nth-child(1) {
  padding-right: 2px;
}

main .recommedWrapper>.recommedSong:nth-child(2) {
  padding: 0 1px;
}

main .recommedWrapper>.recommedSong:nth-child(3) {
  padding-left: 2px;
}

main .recommedWrapper>.recommedSong img {
  width: 100%;
}

main .recommedWrapper>.recommedSong p {
  width: 122.88px;
  font-size: 13px;
  padding: 6px 2px 0 6px;
  line-height: 1.2;
}

main>.newSong {
  display: flex;
  flex-direction: column;
}

main>.newSong a {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

main>.newSong li {
  border-bottom: 1px solid #EFEFF0;
}

main>.newSong a>.Song {
  display: flex;
  flex-direction: column;
  padding: 6px 0;
  width: 100%;
}

main>.newSong a>.Song>.songName {
  font-size: 17px;
  line-height: 1.5;
  color: #333;
}

main>.newSong a>.Song>.singer {
  font-size: 12px;
  color: #888;
  line-height: 1.5;
}

main>.newSong a>.playSong {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

main>.newSong a>.playSong>img {
  width: 22px;
  height: 22px;
}

.container>ol>li{
  display: none;
}

.container>ol>li.active{
  display: flex;
}